/* body {
    color: #fff;
    background-color: #4F8BF9;
} */

.stButton>button {
    color: 'white';
    /* border-radius: 50%; */
    height: 5em;
    width: 8em;
}

/* .stTextInput>div>div>input {
    color: #4F8BF9;
} */