/* body {
    color: #fff;
    background-color: #4F8BF9;
} */

.stButton>button {
    color: #4F8BF9;
    /* border-radius: 50%; */
    height: 4em;
    width: 8em;
}

/* img {
    width: 300px;
    height: 150px;
    object-fit: fill;
  } */

/* .stTextInput>div>div>input {
    color: #4F8BF9;
} */