[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
numpy = "*"
pandas = "*"
flask = "*"
ipykernel = "*"
jupyter = "*"
requests = "*"
pyarrow = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
